
:root {
 --color-primary: rgb(89, 89, 229); 
 --color-secondary: #f0f8ff; 

 --fw: 100; 

} 

body { 
    margin: 0;
    background-color: var(--color-primary);
    height: 100%;
    
}


form { 
  display: flex;
  flex-direction: column;
  gap: 10px; 
 background-color: var(--color-secondary);  
 margin-right: 50%;
  
    padding: 4em 0px 6em 0em; 
    text-align: center;
    border: 2px black solid;
    border-bottom-right-radius: 30%;   
    
}

form>header { 
    font-weight: var(--fw);
    color: var(--color-primary);  
    font-size: 20px; 
    letter-spacing: .1rem;

}

#submit{ 
    
    padding: 2px 10px;
    width: 10em;
    background-color: var(--color-primary);
    color: var(--color-secondary); 
    border-radius: 20px;
    letter-spacing: .1rem;
   

}

#signup { 
    color: var(--color-primary);
    background-color: var(--color-secondary); 
    border: none;
    font-size: 12px;
}

#submit, #signup:hover { 
    cursor: pointer;
}



/* Transform downwards */
#error { 
    text-align: center;
    margin-top: 2em;
   
   
}